/*Header-Beginning*/
.topo-da-pagina {
    color:white;
    background-color: black;
    padding:5px;   
    border: 1px solid black;
    font-family: 'Montserrat', sans-serif;
    height: 55px;
    box-sizing: border-box;
}
.icone-topo{
    width: 30px;
    height: 30px;
    background-color: white;
    padding: 5px 5px;
    float: left;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.menu-horizontal-ul {
    margin: 5px; padding:0; 
    list-style: none;
    float: right;
    
}
.info-do-projeto, .info-integrantes{
    clear: both;
}
.menu-horizontal-ul-li{
    float: left;
    padding-left: 2px;
    position: relative;
}

/*Menu horizontal principal*/
.menu-horizontal-ul-li-a {
    display: inline-block;
    text-decoration: none;
    color:white;
    background: white;
    padding: 5px 10px;
    background-color: black;
}
/*Submenu*/
div ul li ul{
    display: none;
    position: absolute;
    padding-top: 1px;
    z-index: +1;
}
/*Itens do submenu*/
div ul li ul li a {
    width:140px;
    margin-top: -5px;
}
div ul li ul li a:hover{
    border-bottom: 2px solid black;
    background-color:darkgrey;
    color: black;
}
div li:hover ul {
    display: block;
}
div ul li a:hover{
    border-bottom: 2px solid white;
    /*background-color:darkgrey;*/
}

/*Titles-Beginning*/
.title-integrantes{
    display:block;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px;
    width: 100%;
}
.title-projeto{
    background-color: #fff;
    color: #000;
    float: left;
    padding-right: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-bottom: 1px;
}
.titulo-site{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    display: block;
    margin-top: 60px;
    font-size: 40px;
}
.titulo-calendario, .titulo-contato {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    display: block;
    margin-top: 30px;
    font-size: 40px;
}
.titulo-sobre{
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    display: block;
    margin: 30px 30px;
    font-size: 30px;
    background-color: lightgrey;
}
.titulo-sobre-info{
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    margin: 20px 30px;
}
/*Titles-End*/

/* Info-Inicial-Drive-Home */
.infos-drive{
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    display: block;
}
.link-para-drive{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    display: block;
    font-size: 30px;
    margin-top: 20px;
    /* margin-bottom: 178px; */
    min-height: calc(40vh - 70px);
}
/* Info-Final-Drive-Home */

/* Tabela-Entrega / Tabela-Contato */
.tabela-entrega, .tabela-contato{
    width: 100%;
}
.tabela-table {
    font-family: 'Montserrat', sans-serif;
    border-collapse: collapse;
    margin: 30px 50px;
    display: block;
}
  
.tabela-table-tr-td, .tabela-table-tr-th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.tabela-table-tr:nth-child(even) {
    background-color: #dddddd;
}
/* Image-Integrantes-Inicio */
.img-integrantes{
    width: 230px;
    height: 230px;
    margin: 30px 0 30px 30px;
    border: 1px solid black;
}
.img-sobre-info{
    margin: 30px 35px;
    width: 40%;
    display: inline-block;
}
.figure-home {
    display: inline-block;
 }
.figure-integrantes{
    float: left;
 }

.fig-principal{
    display: block;
    text-align: center;
    font-size: 17px;
}
.caption-integrantes{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-bottom: 20px;
}

/*Paragr��fos-Beginning*/
.paragrafo-home{
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    margin-top: 60px;
    margin-left: 20px;
    margin-right: 20px;
}
.paragrafo-home1{
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}
.paragrafo-home2{
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
    margin-right: 20px;
}
/*Paragr��fos-End*/

/* Footer-Beginning*/
.footer-do-site{
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    /*margin-top: 30px;*/
    height: 500px;
    clear: both;    
    box-sizing: border-box;
}
.menu-vertical-ul{
    margin: 0;padding: 0;
    float: left;
    margin: 40px 50px;
}
.menu-vertical-li{
    list-style: none;
}
.menu-vertical-li-a{
    display: block;
    text-decoration: none;
    color: white;
}
.menu-vertical-li-a-titulo{
    display: block;
    text-decoration: none;
    color: lightgrey;
    font-size: 25px;
    
}
.menu-vertical-li-a-titulo:hover{
    text-decoration: none;
}
.menu-vertical-li-a:hover{
    border-bottom: 2px solid white;
    -webkit-text-fill-color: grey;
}
.copy-do-site{
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: black;
    text-align: center;
}
/* Footer-End*/