html {
  height: 100%;
  font-size: 12px;
}

body {
  font-family: 'Montserrat', sans-serif;
}

/* Nav Style */

/* Body template */

.margin-resize {
  margin-bottom: 50.rem;
}

/* */

 img {
  widows: 50%;
  height:580px;
  margin: auto;
}

/* footer */

footer {
  bottom: 0px;
  position: relative;
}

.footer-link {
  color: #eee;
  font-size: 13px;
  transition: all .3s;
}

.footer-link:hover {
  color: #70aed2;
  text-decoration: none;
}

.fixed-bottom {
  z-index: 0;
}
/* end of footer */



.infos-drive{
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  display: block;
}
.link-para-drive{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  display: block;
  font-size: 30px;
  margin-top: 20px;
  /* margin-bottom: 178px; */
  min-height: calc(40vh - 70px);
}
/* Info-Final-Drive-Home */

/* Tabela-Entrega / Tabela-Contato */
.tabela-entrega, .tabela-contato{
  width: 100%;
}
.tabela-table {
  font-family: 'Montserrat', sans-serif;
  border-collapse: collapse;
  margin: 30px 50px;
  display: block;
}

.tabela-table-tr-td, .tabela-table-tr-th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.tabela-table-tr:nth-child(even) {
  background-color: #dddddd;
}
/* Image-Integrantes-Inicio */
.img-integrantes{
  width: 230px;
  height: 230px;
  margin: 30px 0 30px 30px;
  border: 1px solid black;
}
.img-sobre-info{
  margin: 30px 35px;
  width: 40%;
  display: inline-block;
}
.figure-home {
  display: inline-block;
}
.figure-integrantes{
  float: left;
}

.fig-principal{
  display: block;
  text-align: center;
  font-size: 17px;
}
.caption-integrantes{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin-bottom: 20px;
}

/*Paragr��fos-Beginning*/
.paragrafo-home{
  font-family: 'Montserrat', sans-serif;
  text-align: justify;
  margin-top: 60px;
  margin-left: 20px;
  margin-right: 20px;
}
.paragrafo-home1{
  font-family: 'Montserrat', sans-serif;
  text-align: justify;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
}
.paragrafo-home2{
  font-family: 'Montserrat', sans-serif;
  text-align: justify;
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 10px;
  margin-right: 20px;
}
/*Paragr��fos-End */

.carousel-control {
  position: absolute;
  top: 150px;
  left: 15px;
  width: 40px;
  height: 40px;
  /* margin-top: -20px; */
  font-size: 60px;
  font-weight: 100;
  line-height: 30px;
  background-image: none !important;
  filter: none !important;
  text-align: center;
  -webkit-border-radius: 23px;
     -moz-border-radius: 23px;
          border-radius: 23px;  
}

.glyphicon{
    font-size: 60px;
    color: black;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}